
*.1
*.7z
*.bak
*.cache
*.dat
*.dll
*.editorconfig
*.exe
*.json
*.lock
*.pdb
*.props
*.pubxml
*.targets
*.v2
*.vsidx

.vs/*

V3SaveManager/V3SaveManager.csproj.user
V3SaveManagerGUI/V3SaveManagerGUI.csproj.user
V3SaveManager/obj/*
V3SaveManagerGUI/obj/*
V3SaveManager/Properties/PublishProfiles/*
V3SaveManagerGUI/Properties/PublishProfiles/*
