
.vs/V3SaveManager/DesignTimeBuild/.dtbcache.v2
.vs/V3SaveManager/v17/.futdcache.v1
.vs/V3SaveManager/v17/.suo
V3SaveManager.7z
*.json
*.cache
*.targets
*.props
*.editorconfig
V3SaveManager/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
V3SaveManager/obj/Release/net6.0/V3SaveManager.AssemblyInfo.cs
V3SaveManager/obj/Release/net6.0/V3SaveManager.GlobalUsings.g.cs
*.exe
*.dll
*.pdb
V3SaveManager/obj/Release/net6.0/V3SaveManager.csproj.FileListAbsolute.txt
V3SaveManager/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
V3SaveManager/obj/Debug/net6.0/V3SaveManager.AssemblyInfo.cs
V3SaveManager/obj/Debug/net6.0/V3SaveManager.GlobalUsings.g.cs
*.dat
V3SaveManager/V3SaveManager.csproj.user
*.bak
*.vsidx
*.lock
V3SaveManagerGUI/obj/*
V3SaveManagerGUI/V3SaveManagerGUI.csproj.user
